{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
  Lecture d'une annonce - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

    {% for advert in listAdverts %}
      
    <h2>{{ advert.title }}</h2>
    <i>Par {{ advert.author }}</i>
    
    <div class="well">
      {{ advert.content }}
    </div>

    <p>
      <a href="{{ path('oc_platform_home') }}" class="btn btn-default">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Retour à la liste
      </a>
      <a href="{{ path('oc_platform_edit', {'id': advert.id}) }}" class="btn btn-default">
        <i class="glyphicon glyphicon-edit"></i>
        Modifier l'annonce
      </a>
      <a href="{{ path('oc_platform_delete', {'id': advert.id}) }}" class="btn btn-danger">
        <i class="glyphicon glyphicon-trash"></i>
        Supprimer l'annonce
      </a>
    </p>



    {% endfor %}

<ul class="pagination">
  {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
  {% for p in range(1, nbPages) %}
    <li{% if p == page %} class="active"{% endif %}>
      <a href="{{ path('oc_platform_home', {'page': p}) }}">{{ p }}</a>
    </li>
  {% endfor %}
</ul>


{% endblock %}